*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./assets/img/fondo-3.png'), url('./assets/img/nombre.png'),url('./assets/img/fondo-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400px, 300px,cover;
    background-position-y: 40dvh,25dvh,0;
    background-position-x: 5dvh,10dvh,0;
    padding: 1px;
}